.fundo-fixo {
    background-image: url("/images/bgnavbar.jpg");
    border-top: 1px solid #222;
    background-repeat: repeat-x;
    background-size: contain;
    background-color: #181818;
}

.bg-site {
    background-color: black;
    background-image: url("/images/fundo01.png");
    background-attachment: fixed;
    height: 100%;
}
.content-div {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content-div:hover {
    background: linear-gradient(
            to right,
            rgba(255, 81, 0, 0.801),
            hsla(0, 100%, 50%, 0.801)
        )!important;
}

.image-cover {
    height: 350px;
}
/*
    -remove the classes below if you have the 'group-hover'property added in your tailwind config file
    -also remove the class from the html template
    */
.content-div:hover .fd-cl {
    opacity: 0.25;
}
.content-div:hover .fd-sh {
    opacity: 1;
}
.gradient {
        background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
      }
